* {
  margin: 0px;
  font-family: Arial;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #03a3df;
  height: 150px;
}

header img {
  max-width: 200px;
  height: auto;
  padding-left: 100px;
}

header nav {
  padding-right: 100px;
}

header nav a {
  padding: 2rem 2.5rem 2rem 2.5rem;
  text-decoration: none;
  color: white;

}

header nav a:hover {
  background-color: #ecb722;
  color: black;
}

.header-spacer {
  height: 150px;
}

.body-container {
  margin: 20px;
  background-color: lightgray;
  padding: 20px;
}

.body-container h2, .body-container h3 {
  padding: 10px 0px 10px 0px;
}


.body-container p {
  font-size: 17px;
}

.classes-container {
  margin: 10px;
  background-color: lightgray;
  padding: 5px;
}

.class-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.class-grid article {
  margin: 5px;
  background-color: #444444;
  color: white;
  padding: 10px;
}

.instructor-container {
  display: grid;
  margin: 20px;
  background-color: lightgray;
}

.instructor-container article {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin: 10px;
  background-color: #444444;
  color: white;
  padding: 20px;

}

article div {
  padding: 10px;
}

article h3 {
  padding-bottom: 20px;
}

article p {
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: 100;
}





footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

footer p {
  position: absolute;
  color: white;

}

footer img {
  max-width: 100%;
  height: auto;
}
